div#overlay-bar {
    display: none;
    left: 0;
    padding: 14px 15px 15px;
    position: fixed;
    right: 0;
    top: 0;
    transition: top .2s ease-in-out;
    z-index: 9999;

    &.scrolled {
        transition: background-color 0.5s;
        background-color: #1F1F1F;
    }

    @media (max-width: $screen-sm-max) {
        display: block;
    }

    a#overlay-bar-open-menu {
        color: #fff;
        font-size: 30px;
    }

    a#overlay-bar-logo {
        display: block;
        margin: 0 auto;
        max-width: 150px;

        img {
            display: block;
            margin: 0 auto;
            max-height: 30px;
            width: auto;
        }
    }
    > .row {
        align-items: center;
    }
}

// Overlay nav

body.overlay-open {
    overflow: hidden;
}

div#overlay-menu {
    background: #1F1F1F;
    bottom: 0;
    color: #fff;
    display: none;
    left: 0;
    overflow: scroll;
    padding: 15px 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;

    @media (min-width: $screen-md-min) {
        padding: 135px 0;
    }

    ul.address {
        list-style-type: none;
        padding: 0;
    }

    a#overlay-menu-close {
        color: #fff;
        font-size: 3.2rem;
        position: absolute;
        right: 15px;
        top: 3px;

        @media (min-width: $screen-md-min) {
            right: 40px;
            top: 40px;
        }
    }

    h2 {
        color: #fff;
    }

    a:hover {
        color: $white;
    }

    form#overlay-menu-search {
        margin-bottom: 30px;
    }

    img#overlay-logo {
        display: block;
        margin-bottom: 30px;
    }

    nav {
        margin-top: 35px;
        margin-bottom: 30px;

        > ul {
            list-style: none;
            margin: 0;
            padding: 0;

            > li {
                &:last-of-type {
                    margin-top: 35px;
                    a {
                        border-radius: 50px;
                        text-align: center;
                        border: 1px solid $white;
                    }
                }
            }

            > li > a {
                color: #fff;
                font-size: 24px;
                padding: 10px;

                span {
                    float: right;
                }
            }

            > li > ul {
                display: none;
                list-style: none;
                margin: 0;
                padding: 10px 0 0 20px;

                > li > a {
                    color: #CBCBCB;
                    font-size: 18px;
                    padding: 10px 0;

                    span {
                        display: none;
                    }
                }
            }

            a {
                display: block;
            }
        }
    }
}
