{% include '_partials/overlay/bar' %}

<div id="overlay-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <img src="/skin/logo.svg" alt="{{ siteName }} Logo" width="119" height="49" class="img-responsive"/>
            </div>
            <div class="col-xs-6">
                <a href="#" id="overlay-menu-close" class="close-overlay"><i class="fas fa-fw fa-times"></i></a>
            </div>
        </div>
        <nav>
            <ul>
                {% cache %}
                    {% nav page in craft.entries.section('pages').showInNavigation(true).level('<= 2').all() %}
                        <li class="{{ entry is defined and page.id == entry.id ? 'current' : (entry is defined and page.isParentOf(entry) ? 'parent-current') }}">
                            <a href="{{ page.url }}">{{ page.title }} {% if page.getDescendants().showInNavigation(true)|length %}
                                    <span><i class="fas fa-fw fa-angle-down"></i></span>{% endif %}</a>
                            {% ifchildren %}
                                <ul>
                                    {% children %}
                                </ul>
                            {% endifchildren %}
                        </li>
                    {% endnav %}
                {% endcache %}
            </ul>
        </nav>
    </div>
</div>
