footer#site-footer {
    background-color: #1F1F1F;
    padding: 50px 0;
    clear: both;
    div#contact-details {
        text-align: center;
        @media (min-width: $screen-md-min) {
            text-align: left;
        }
        p {
            line-height: 20px;
            margin-bottom: 20px;
            font-size: 21px;
            font-family: 'Nunito';
            a {
                color: $white;
                i {
                    color: $purple;
                    margin-right: 12px;
                }
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    nav#info {
        ul {
            font-size: 16px;
            padding: 0;
            text-align: center;

            @media (min-width: $screen-md-min) {
                text-align: right;
            }

            li {
                display: inline-block;
                margin-left: 10px;
                a {
                    font-family: 'Nunito';
                    color: $white;
                }
            }
        }
    }

    ul#social {
        list-style: none;
        padding-left: 0;
        padding-top: 20px;
        text-align: center;

        @media (min-width: $screen-md-min) {
            text-align: right;
            padding-top: 10px;
        }
        li {
            display: inline-block;
            margin-left: 50px;
            &:first-of-type {
                margin-left: 0;
            }
            a {
                i {
                    font-size: 30px;
                }
            }
        }
    }

    p {
        font-size: 1.2rem;
    }

    p#bluestorm {
        text-align: center;
        margin-bottom: 0;
        @media (min-width: $screen-md-min) {
            line-height: 32px;
            text-align: right;
        }

        a {
            color: $white;

            img {
                display: inline-block;
            }
        }
    }
}
