@import 'fonts/nunito';
@import 'fonts/opensans';

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-family;
    margin: 0 0 20px;
}

h1 {
    color: $brand-primary;
}

h2 {
    color: $brand-primary;
}

body {
    font-family: $body-font-family;
    color: #95989A;
}

p,
ul,
ol {
    margin: 0 0 20px;
}

.intro {
    color: $intro-color;
    font-size: 22px;
    line-height: 32px;
}

a,
a:link,
a:active {
    text-decoration: none;
    transition: color .25s ease-in-out;
}
